<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/public/favicon.png" type="image/png">

    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/tokyo-night-dark.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    <title><%= filename %> | trashbin</title>
</head>

<body>
    <div class="container notouch">
        <h2>WARNING! This document is password protected. Please enter the password and hit "Unlock" to continue.</h2>
        <div>
            <i class="fas fa-key"></i> Password <input id="password" type="text">
        </div>
        <div class="btn">
            <i class="fas fa-lock-open"></i><a id="submit"> Unlock</a>
        </div>
        <div class="btn">
            <i class="fas fa-home"></i><a id="new"> Home</a>
        </div>
    </div>

    <script>
        $("#new").click(e => {
            e.preventDefault();
            window.location.href = "/";
        });

        $("#submit").click(e => {
            e.preventDefault();

            let raw = false;

            <% if (raw) { %>
              raw = true
            <% } %>

            if (raw) {
                window.location.href = `/raw/<%= filename %>?password=${$("#password").val()}`;
            } else {
                window.location.href = `/<%= filename %>?password=${$("#password").val()}`;
            }
        });
    </script>
</body>

</html>
